  <template name="buttons">

    <div class="row">
      <div class="col-md-12">
        <div class="row" id="row1">
         <button id="btnToBin" class="btn btn-default btn-lg {{btnToBin}}"> Bin </button>
         <button id="btnSqr" class="btn btn-lg {{btnSqr}}"> &radic;x</button>
         <button id="btnPower" class="btn btn-lg {{btnPower}}"> y^x</button>
         <button id="btnMod" class="btn btn-lg {{btnMod}}"> % </button>
       </div> <!--END ROW 1 -->

       <div class="row" id="row2">
         <button id="btn7" class="btn btn-lg {{btn7}}"> 7 </button>
         <button id="btn8" class="btn btn-lg  {{btn8}}"> 8 </button>
         <button id="btn9" class="btn btn-default btn-lg {{btn9}}"> 9 </button>
         <button id="btnDiv" class="btn btn-lg {{btnDiv}}"> &#247; </button>
       </div> <!--END ROW 2 -->

       <div class="row" id="row3">
         <button id="btn4" class="btn btn-lg {{btn4}}"> 4 </button>
         <button id="btn5" class="btn btn-lg {{btn5}}"> 5 </button>
         <button id="btn6" class="btn btn-lg {{btn6}}"> 6 </button>
         <button id="btnMulti" class="btn btn-lg {{btnMulti}}"> &#215; </button>
       </div> <!--END ROW 3 -->

       <div class="row" id="row4">
         <button id="btn1" class="btn btn-lg {{btn1}}"> 1 </button>
         <button id="btn2" class="btn btn-lg {{btn2}}"> 2 </button>
         <button id="btn3" class="btn btn-lg {{btn3}}"> 3 </button>
         <button id="btnSub" class="btn btn-lg {{btnSub}}"> &minus; </button>
       </div> <!--END ROW 4 -->

       <div class="row" id="row5">
         <button id="btn0" class="btn btn-lg {{btn0}}"> 0 </button>
         <button id="btnCom" class="btn btn-lg {{btnCom}}"> . </button>
         <button id="btnEqual" class="btn btn-lg {{btnEqual}}"> &#61; </button>
         <button id="btnAdd" class="btn btn-lg {{btnAdd}}"> &#43; </button>
       </div> <!--END ROW 5 -->
      </div>
    </div>
  </template>
