<template name="functionButtons">
  <div id="functionButtons">

        <button class="btn btn-md {{btnOn}}" id="btnOn">
          <span class="glyphicon glyphicon-ok-sign"></span> ON/C</button>


        <button class="btn btn-md {{btnDel}}" id="btnDel">
            <span class="glyphicon glyphicon-arrow-left"></span> Delete</button>

        <button class="btn btn-md {{btnHistory}}" id="btnHistory">
          <span class="glyphicon glyphicon-calendar"></span> History</button>
  </div>
</template>
