<head>
  <title>Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"> Calculator</a>
    </div>
  </nav> <!--END NAVBAR-->
  <br>

  <div class="container">

    <div class="row">
      <div class=" col-xs-12 col-md-8 col-lg-10" id="colDisplay">
        {{ >display }}
      </div>
    </div>

<div class="col-md-8">
  <div class="row" >
    <div class="col-xs-8 col-md-6 col-lg-11  ">
      {{ >buttons }}
    </div>
    <div class="col-xs-4 col-md-2 col-lg-1">
      {{>functionButtons }}
    </div>
  </div>
</div>


  </div>
</body>
