/* CSS declarations go here */


#colDisplay{
    height: 100px;
    font-size:65px;
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
    background-color: #282C34;
    color: #98C379;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#name{
  border: solid red;
}

#rowButtons{
    border:solid #282C34 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E1E6E2;
    padding: 5%;
}

#btn9,#btn8,#btn7,#btn6,#btn5,#btn4,#btn3,#btn2,#btn1,#btn0,
#btnDiv,#btnMulti,#btnSub,#btnCom,#btnEqual,#btnAdd{
  margin: 2%;
  background-color: #282C34;
  color: #98C379


}
