#colDisplay{
    height: 100px;
    font-size: 3em;
    text-align: right;
    padding-top: 1%;
    background-color: #282C34;
    color: #98C379;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.rowButtons{
    border:solid #282C34 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E1E6E2;

    /*padding: 5%;*/
}

#btn9,#btn8,#btn7,#btn6,#btn5,#btn4,#btn3,#btn2,#btn1,#btn0,
#btnDiv,#btnMulti,#btnSub,#btnCom,#btnEqual,#btnAdd,#btnBlank, #btnMod,
#btnPower, #btnSqr, #btnToBin{
  margin: 1px;
  background-color: #282C34;
  color: #98C379;
  width: 20%;
  height: 20%;
  font-size: 15px;
  box-shadow: 3px 3px 1px #888888;

}
#btnOn{
  background-color: #98C379;
}
#btnDel{
  background-color: #E06C75;

}
#btnHistory{
  background-color: #5DAFEF;
}

#functionButtons{
  margin-top: 10px;
}
#btnOn,#btnDel{
  width: 100px;
  margin-bottom: 20px;
  color: #282C34;
  font-size: 1.2em;
  font-weight: bold;
  border: solid black 1px;
  box-shadow: 3px 3px 1px #888888;
}

.modal-header{
  background-color: #282C34 ;
  color:#98C379;
}

.modal-body{
  background-color: #E1E6E2;;
  color:#98C379;
}
